$size: 100px;
$half: $size / 2;
$perspective: 400px;

body {
  margin: 0;
  transition-duration: 1000ms;
  transition-property: all;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: $perspective;
  z-index: 10;
}

#cube {
  margin: auto;
  position: relative;
  width: $size;
  height: $size;
  transform-style: preserve-3d;
  // transform: rotate3d(1, 1, 1, 30deg);
  perspective-origin: center center;
  // animation: cubeRotate 10s linear infinite;
}

.grab {
  cursor: grab;
}

.grabbing {
  cursor: grabbing;
}

.facet {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background: rgba(241, 241, 241, 0.849);
  border: 1px solid grey;
}

.dot {
  width: $size / 5;
  height: $size / 5;
  background: black;
  border-radius: 50%;
  user-select: none;
}

.front {
  transform: translateZ($half);

  .dot:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
    margin: auto 0 0 auto;
  }

  .dot:nth-child(2) {
    grid-column: 3;
    grid-row: 3;
  }
}

.back {
  transform: rotateY(180deg) translateZ($half);

  .dot:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
    margin: auto 0 0 auto;
  }

  .dot:nth-child(2) {
    grid-column: 3;
    grid-row: 1;
    margin: auto auto 0 0;
  }

  .dot:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
    margin: 0 0 auto auto;
  }

  .dot:nth-child(4) {
    grid-column: 3;
    grid-row: 3;
    margin: 0 auto auto 0;
  }

  .dot:nth-child(5) {
    grid-column: 2;
    grid-row: 2;
    margin: auto;
  }
}

.right {
  transform: rotateY(90deg) translateZ($half);

  .dot:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
    margin: auto 0 0 auto;
  }

  .dot:nth-child(2) {
    grid-column: 3;
    grid-row: 1;
    margin: auto auto 0 0;
  }

  .dot:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
    margin: 0 0 auto auto;
  }

  .dot:nth-child(4) {
    grid-column: 3;
    grid-row: 3;
    margin: 0 auto auto 0;
  }
}

.left {
  transform: rotateY(-90deg) translateZ($half);

  .dot:nth-child(1) {
    grid-column: 3;
    grid-row: 1;
    margin: auto auto 0 0;
  }

  .dot:nth-child(2) {
    grid-column: 2;
    grid-row: 2;
    margin: auto;
  }

  .dot:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
    margin: 0 0 auto auto;
  }
}

.top {
  transform: rotateX(90deg) translateZ($half);

  .dot {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: auto;
  }
}

.bottom {
  transform: rotateX(-90deg) translateZ($half);

  .dot:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
    margin: auto 0 0 auto;
  }

  .dot:nth-child(2) {
    grid-column: 3;
    grid-row: 1;
    margin: auto auto 0 0;
  }

  .dot:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
    margin: 0 0 auto auto;
  }

  .dot:nth-child(4) {
    grid-column: 3;
    grid-row: 3;
    margin: 0 auto auto 0;
  }

  .dot:nth-child(5) {
    grid-column: 1;
    grid-row: 2;
    margin: auto 0 auto auto;
  }

  .dot:nth-child(6) {
    grid-column: 3;
    grid-row: 2;
    margin: auto 0;
  }
}

@keyframes cubeRotate {
  from {
    transform: rotateY(0) rotateX(720deg) rotateZ(0);
  }
  to {
    transform: rotateY(360deg) rotateX(0) rotateZ(360deg);
  }
}

/* Config */
$color-bg: #1e1e1e;
$color-particle: #fff;
$spacing: 2560px;
$time-1: 60s;
$time-2: 120s;
$time-3: 180s;
$time-4: 200s;

/* mixins */
@function particles($max) {
  $val: 0px 0px $color-particle;
  @for $i from 1 through $max {
    $val: #{$val}, random($spacing) + px random($spacing) + px $color-particle;
  }
  @return $val;
}

@mixin particles($max) {
  box-shadow: particles($max);
  border-radius: 50%;
}

/* Styles */
html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  overflow: hidden;
}

.page-bg,
.animation-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page-bg {
  background: $color-bg;
  background-blend-mode: screen;
  background-size: cover;
  filter: grayscale(100%);
  z-index: -1;
}

.particle,
.particle:after {
  background: transparent;
}

.particle:after {
  position: absolute;
  content: "";
  top: $spacing;
}

.particle-1 {
  animation: animParticle $time-1 linear infinite;
  @include particles(1000);
  height: 2px;
  width: 2px;
}

.particle-1:after {
  @include particles(900);
  height: 2px;
  width: 2px;
}

.particle-2 {
  animation: animParticle $time-2 linear infinite;
  @include particles(800);
  height: 2px;
  width: 2px;
}

.particle-2:after {
  @include particles(500);
  height: 3px;
  width: 3px;
}

.particle-3:after {
  @include particles(1100);
  height: 3px;
  width: 3px;
  border-radius: 50%;
}

.particle-4 {
  animation: animParticle $time-4 linear infinite;
  @include particles(1200);
  height: 1px;
  width: 1px;
}

.particle-4:after {
  @include particles(700);
  height: 1px;
  width: 1px;
}

@keyframes animParticle {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY($spacing * -1);
  }
}

.page-wrapper {
  text-align: center;
  color: #fff;
  z-index: 15;
  position: absolute;
  top: 20px;
}

h4 {
  color: #fff;
  font-family: Monoton;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

h4:hover {
  color: #ff1177;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}

/*glow for webkit*/

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}

/*glow for mozilla*/

@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}

/*glow*/

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}

.discord {
  width: 60px;
  height: auto;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
  cursor: pointer;
  z-index: 10;

  img:hover {
    opacity: 0.6;
  }
}

canvas {
  width: 900px;
  height: 200px;
  display: block;
  position: relative;
  background: transparent;
  margin: 40px auto;
  position: absolute;
  bottom: 100px;
  z-index: 30;
}
